body {
  color: #023e8a;
  background-color: #ade8f4;
  padding: 0;
  margin: 0;
}

.notes-box:hover {
  background-color: #023e8a !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
  color: #ade8f4;
  transition: 0.8s;
  cursor: pointer;
}

.notes-box {
  background-color: #00b4d8 !important;
  font-size: larger;
}

.dark-notes {
  background-color: #272828 !important;
  font-size: larger;
}

.dark-notes:hover {
  background-color: #01060c !important;
  box-shadow: 0 0 10px rgba(141, 138, 138, 0.8) !important;
  color: #ffffff;
  transition: 0.8s;
  cursor: pointer;
}

.light-notes {
  background-color: #989f9f !important;
  font-size: larger;
}

.light-notes:hover {
  background-color: #01060c !important;
  box-shadow: 0 0 10px rgba(141, 138, 138, 0.8) !important;
  color: #ffffff;
  transition: 0.8s;
  cursor: pointer;
}

.pop-up,
.pop-up-delete,
.pop-up-update {
  background-color: #023e8a;
  color: #ade8f4;
  animation: hideAnimation 0s ease-in 1s !important;
  animation-fill-mode: forwards !important;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.main-button {
  background-color: #023e8a;
  color: #ade8f4;
  cursor: pointer;
}

.plus-button {
  z-index: 100;
}

.main-button:hover {
  background-color: #00b4d8;
  color: #023e8a;
}

.notes-box-notes {
  background-color: #023e8a !important;
  color: #ade8f4 !important;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  z-index: 10;
}

.check-button-confirm {
  background-color: #ade8f4 !important;
  color: #023e8a !important;
  cursor: pointer;
  z-index: 10;
}

.fas {
  cursor: pointer;
}

.dropdown-menu {
  width: 5rem;
  margin-right: 1rem !important;
}

.dark-theme {
  background-color: black !important;
  color: white !important;
}

.light-theme {
  background-color: white !important;
  color: black !important;
}
