body {
  color: #023e8a;
  background-color: #ade8f4;
}

.notes-area:hover {
  background-color: #023e8a !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) !important;
  color: #ade8f4;
  transition: 0.8s;
}

.notes-area {
  background-color: #00b4d8 !important;
  font-size: larger;
}

.pop-up,
.pop-up-delete,
.pop-up-update {
  background-color: #023e8a;
  color: #ade8f4;
  animation: hideAnimation 0s ease-in 1s !important;
  animation-fill-mode: forwards !important;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.main-button {
  background-color: #023e8a;
  color: #ade8f4;
}

.main-button:hover {
  background-color: #00b4d8;
  color: #023e8a;
}

.write {
  background-color: #023e8a !important;
  color: #ade8f4 !important;
}

.add {
  background-color: #ade8f4 !important;
  color: #023e8a !important;
}

.dropdown-menu {
  width: 5rem;
  margin-right: 1rem !important;
}

.dark-theme {
  background-color: black !important;
  color: white !important;
}

.light-theme {
  background-color: white !important;
  color: black !important;
}
